<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/")favicon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/")Scripts/jquery-1.12.0.min.js"></script>
    <link href="@Url.Content("~/")Content/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/")Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/")Content/site.css" rel="stylesheet" />    
    <link href="@Url.Content("~/")Content/zGrid.css" rel="stylesheet" />
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = base_url + '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()/';
    </script>
    <script type="text/javascript" src="@Url.Content("~/")Scripts/zsiLib.js"></script>
    <style>
        .modal-dialog {
            width: 95%;
        }
        .ace_editor {
            min-height: 400px !important;
        }

        .ace_search.right {
            position: fixed !important;
        }

        .ace_search_field {
            color: #000 !important;
            background-color: #fff !important;
        }

        .dhtmlx_wins_body_inner > div[ida='dhxMainCont'] {
            overflow: auto !important;
        }
    </style>   
</head>
<body>
<div class="progressWindow">
    <div class="loadingImg"></div>
    <div class="loadingText">Loading...Please wait</div>
</div>
<div class="errorWindow">
    Some processe(s) encountered a problem.
    <br> Please Contact System Administrator.
</div>
 <div class="pageHeader">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1 pull-left">
                    <a href="@Url.Content("~/")" class="navbar-brand">
                        <img style="float: left; margin-top: -15px;; position: relative; z-index: 100;width: 69px;border: 1px solid #ff9800;border-radius: 40px;" 
                        src="@Url.Content("~/")images/headerAirforce.png" style="float: left; margin-top: -16px; position: relative; z-index: 100;" >
                    </a>
                </div>
							  <div class="col-xs-9">
					<img src="@Url.Content("~/")images/new_banners.jpg" style="margin-left: -30px; width: 126%;; padding-top: 11px; height: 68px;"/>                   
					<h1 style="color:#fff; font-size: 28px;margin-top: -64px; padding-left: 5%;"><b style="font-weight:bold">PAF ENTERPRISE SYSTEM</b></h1>
                </div> 
            </div>
        </div>
    </div>
	<!---
    <div class="pageHeader">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-1 pull-left">
                    <a href="@Url.Content("~/")" class="navbar-brand">
                        <img style="float: left; margin-top: -16px; position: relative; z-index: 100; width: 71px; margin-top: -15px;" src="@Url.Content("~/")images/headerAirforce.png" >
                    </a>
                </div>
                
            </div>
        </div>
    </div>-->
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <div id="menuPanel"> </div>
            <ul class="nav navbar-nav navbar-right">
                @{ string role = (ViewBag.role == null ? "(No Role)" : ViewBag.role); }
				<li class="">
						<a aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="glyphicon glyphicon-user"></span> @zsi.web.SessionHandler.CurrentUser.userName.ToUpper() (@role)
						<span class="caret"></span></a>

						<ul class="dropdown-menu">
						  <li class="dropdown">
							<a href="@Url.Content("~/")page/name/signin"><span class="glyphicon glyphicon-off"></span> Logout </a>
						  </li>
						</ul>
				  
				</li>
            </ul>
        </div>
    </div>
</div>
@Html.Raw(ViewBag.appStartLink)
<div class="container-fluid page">
    @RenderBody()
</div>

@{
    if ( Session["zsi_login"].ToString() =="Y" )
    {
        <div class='debugPanel noprint'>              
              <a href="@Url.Content("~/")page" target="_blank">Pages</a>
            | <a href="@Url.Content("~/")pagetemplate" target="_blank">Page Templates</a>
            | <a href="@Url.Content("~/")javascript" target="_blank">JavaScripts</a>
			| <a href="@Url.Content("~/")sql" target="_blank">SQL Console</a>			
        </div> 
        }
}
<footer class="noprint">
	<p>&copy; @DateTime.Now.Year - Powered By <a href="http://zetta-solutions.net/">ZettaSolutions, Inc. </a></p>
</footer>

<script src="@Url.Content("~/")ace/src-noconflict/ace.js"></script>
<script src="@Url.Content("~/")ace/src-noconflict/ext-language_tools.js"></script>
<script src="@Url.Content("~/")Scripts/bootstrap.min.js"></script>
<div class="alert alert-success">
    <p>Data has been saved.</p>
</div>
</body>
</html>







