<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">
    
    <title>@ViewBag.pageTitle - PAF ELECTRONIC INVENTORY SYSTEM</title>
    
    <script src='@Url.Content("~/")Scripts/jquery-1.12.0.min.js'></script>
    <script src='@Url.Content("~/")Scripts/handlebars-v3.0.0.js'></script>
    <script src='@Url.Content("~/")Scripts/detectmobilebrowser.js'></script>	
    <link href='@Url.Content("~/")Content/bootstrap.css' rel="stylesheet" />
    <link href='@Url.Content("~/")Content/bootstrap-theme.min.css' rel="stylesheet" />
    <link href='@Url.Content("~/")Content/site.css' rel="stylesheet" />    
    <link href='@Url.Content("~/")Content/zGrid.css' rel="stylesheet" />
    @Html.Raw(ViewBag.GetScriptLinkCurrentVersion("zsiLib"))     
    @{
        string userId = "";
        if ( zsi.web.SessionHandler.CurrentUser != null){ userId = "var userId=" + zsi.web.SessionHandler.CurrentUser.userId + ";"; }
    } 
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
        @userId
    </script>

</head>
<body>
    <div class="progressWindow">
        <div class="loadingImg"></div>
        <div class="loadingText">Loading...Please wait</div>
    </div>
    <div class="errorWindow">
        Some processe(s) encountered a problem.
        <br> Please Contact System Administrator.
    </div>
    <div class="pageHeader">
        <div class="container-fluid">
            <div class="row zBanner">
                <div class="col-xs-1 pull-left">
                    <a href='@Url.Content("~/")' class="navbar-brand">
                        <img src='@Url.Content("~/")images/headerAirforce.png' style="float: left; margin-top: -15px;; position: relative; z-index: 100;width: 69px;border: 1px solid #ff9800;border-radius: 40px;"  />
                    </a>
                </div>
                <div class="col-xs-9 col-xs-offset-2 col-sm-10 col-sm-offset-0">
					<h1 style="color:#fff; font-size: 28px;margin-top:7px;"><b style="font-weight:bold">PAF ENTERPRISE SYSTEM</b></h1>
                </div> 
            </div>
        </div>
    </div>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <div id="menuPanel"> </div>
                <ul class="nav navbar-nav navbar-right">
                    @{ string role = (ViewBag.role == null ? "No Role" :  ViewBag.role ); }
					<li class="">
						<a aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="glyphicon glyphicon-user"></span> @zsi.web.SessionHandler.CurrentUser.userName.ToUpper() (@role)
						<span class="caret"></span></a>

						<ul class="dropdown-menu">
						  <li class="dropdown">
							<a href='@Url.Content("~/")page/name/docs'><span class="glyphicon glyphicon-question-sign"></span> User Manual</a>
						  </li>
						  <li class="dropdown">
							<a href='@Url.Content("~/")page/name/changepassword'><span class="glyphicon glyphicon-lock"></span> Change Password </a>
						  </li>
						  <li class="dropdown">
							<a href='@Url.Content("~/")page/name/signin'><span class="glyphicon glyphicon-off"></span> Logout </a>
						  </li>
						</ul>
				  
				</li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Raw(ViewBag.GetScriptLinkCurrentVersion("appStart"))   
    <div class="container-fluid page">
        @RenderBody()
    </div>

@{
    if (Session["zsi_login"].ToString() == "Y")
    {

    <div class='debugPanel noprint'>     
          <a href='@Url.Content("~/")pagetemplate/source/@ViewBag.pageName' target="_blank">Edit Page Template</a> 
        | <a href='@Url.Content("~/")javascript/source/@ViewBag.pageName' target="_blank">Edit Javascript</a> 
        | <a href='@Url.Content("~/")page' target="_blank">Pages</a>         
        | <a href='@Url.Content("~/")pagetemplate' target="_blank">Page Templates</a>
        | <a href='@Url.Content("~/")javascript' target="_blank">JavaScripts</a>
		| <a href='@Url.Content("~/")sql' target="_blank">SQL Console</a>
    </div> 
    }
 }

    <footer style="position: fixed; right: 0; left: 0; bottom: -10px;">
        <p>&copy; @DateTime.Now.Year - Powered By <a href="http://zetta-solutions.net/">ZettaSolutions, Inc. </a></p>
    </footer>
<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
<script src='@Url.Content("~/")javascript/name/easyJsTemplateWriter'></script>
<div class="alert alert-success">
    <p>Data has been saved.</p>
</div>
</body>
</html>










