<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Developed By" content="zetta-solutions.net">
    <link rel="shortcut icon" href="@Url.Content("~/")favicon.png" type="image/x-icon">
    <title>@ViewBag.pageTitle - TrendTool</title>
    
    <script src='@Url.Content("~/")Scripts/jquery.min.js'></script>
	<script src='@Url.Content("~/")Scripts/handlebars.min.js'></script>
    <link href='@Url.Content("~/")css/app.min.css' rel="stylesheet" />
	
    @Html.Raw(ViewBag.GetScriptLinkCurrentVersion("zsiLib"))    
	@Html.Raw(ViewBag.GetScriptLinkCurrentVersion("zsiLocalDb"))
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
    </script>
</head>
<body>
    <div class="progressWindow zPopup-system">
        <div class="loadingImg"></div>
        <div class="loadingText">Loading...Please wait</div>
    </div>
    <div class="errorWindow zPopup-system">
        Some processe(s) encountered a problem.
        <br> Please Contact System Administrator.
    </div>
    @Html.Raw(ViewBag.GetScriptLinkCurrentVersion("appStart")) 
    <div class="container-fluid page">
        @RenderBody()
    </div>

@{
    if (Session["zsi_login"].ToString() == "Y")
    {
        <div class='debugPanel noprint'>     
              <a href="@Url.Content("~/")pagetemplate/source/@ViewBag.pageName" target="_blank">Edit Page Template</a> 
            | <a href="@Url.Content("~/")javascript/source/@ViewBag.pageName" target="_blank">Edit Javascript</a> 
            | <a href="@Url.Content("~/")page" target="_blank">Pages</a>         
            | <a href="@Url.Content("~/")pagetemplate" target="_blank">Page Templates</a>
            | <a href="@Url.Content("~/")javascript" target="_blank">JavaScripts</a>
        </div> 
    }
}
<script src="@Url.Content("~/")Scripts/bootstrap.min.js"></script>
<script src='@Url.Content("~/")javascript/name/easyJsTemplateWriter'></script>
<div class="alert alert-success zPopup-system">
    <p>Data has been saved.</p>
</div>
</body>
</html>



