<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Developed By" content="zetta-solutions.net">
    <link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">
    <title>@ViewBag.pageTitle </title>
    <script src='@Url.Content("~/")Scripts/jquery.min.js'></script>
    <script src='@Url.Content("~/")Scripts/handlebars.min.js'></script>
    <script src='@Url.Content("~/")Scripts/detectmobilebrowser.js'></script>	    
	<link href='@Url.Content("~/")css/app.min.css' rel="stylesheet" />
	@Html.Raw(ViewBag.GetScriptLinkCurrentVersion("zsiLib"))
	@Html.Raw(ViewBag.GetScriptLinkCurrentVersion("zsiLocalDb"))
    @{
        string userId = "";
        if ( zsi.web.SessionHandler.CurrentUser != null){ userId = "var userId=" + zsi.web.SessionHandler.CurrentUser.userId + ";"; }
    } 
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
        @userId
    </script>

	<style>
	html{
		right:1px;
		}
		.ml-auto, .mx-auto {
			margin-left: auto !important;
			margin-right: 1.5rem;
		}
		.w-100{
			background: linear-gradient(to right, #243B55 40%, #141E30); 
		}
		.pageTitle{
			display: none;
		}
		main {
			position: absolute;
			top: 44px;
			 
			overflow: auto !important;
			background: linear-gradient(to right, #243B55 40%, #141E30);
		}
		.navbar-sub {
			position: fixed;
			top: 40px;
			z-index: 1020;
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			min-height: 29px !important;
			color: rgba(255,255,255,0.75);
			text-align: center;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
			background: linear-gradient(to right, #243B55 40%, #141E30); 
		}
	</style>

</head>
<body >
    <div class="progressWindow zPopup-system">
        <div class="loadingImg"></div>
        <div class="loadingText">Loading...Please wait</div>
    </div>
    <div class="errorWindow zPopup-system">
        Some processe(s) encountered a problem.
        <br> Please Contact System Administrator.
    </div>
	<!-- -----------------------------------MAIN MENU ------------------------------------- -->
	<nav class="navbar-main navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="navbar-expand">
			<ul class="navbar-nav m-0">
				<li class="nav-item dropdown no-arrow">
					<a class="dropdown-toggle" href="javascript:void(0);" onclick="toggleMenu();"   >
						<button class="btn btn-link btn-sm text-white">
							<!--<i class="fas fa-bars"></i>-->
						</button>
					</a>
					<!--<div id="topMainMenu" class="tt-menu dropdown-menu dropdown-menu-left" > </div>-->
				</li>
			</ul>
		</div>
        <a class="navbar-brand" href='@Url.Content("~/")img/logo'>
			<img src='@Url.Content("~/")logo.png' aria-roledescription="logo"></img> ZSI Payroll
		</a>
		
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto mr-0">
				@{ string role = (ViewBag.role == null ? "No Role" :  ViewBag.role ); }                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i> @zsi.web.SessionHandler.CurrentUser.userName.ToUpper() (@role)
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow-sm px-3" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item mb-1" href="@Url.Content("~/")page/name/signin">Log Out</a>
                        <a class="dropdown-item mb-1" href="@Url.Content("~/")page/name/docs">User Manual</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
	<!--------------------------------------- SUB MENU -------------------------------------------------------->
    <nav class="navbar-sub navbar navbar-expand-md fixed-top navbar-dark shadow-sm">
        <button class="navbar-toggler p-1 border-0" type="button" data-toggle="collapse"
            data-target="#navbarSubCollapse" aria-controls="navbarSubCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       <!--  <div class="collapse navbar-collapse" id="navbarSubCollapse">
            <div id="menuPanel"> </div>	
        </div> -->
    </nav>
	
    

@Html.Raw(ViewBag.GetScriptLinkCurrentVersion("appStart"))
<!-- <div class="container-fluid page"> -->
<main role="main" class="w-100">
	@RenderBody()
</main>


@{
    if (Session["zsi_login"].ToString() == "Y")
    {

    <div class='debugPanel noprint'>     
          <a href='@Url.Content("~/")pagetemplate/source/@ViewBag.pageName' target="_blank">Edit Page Template</a> 
        | <a href='@Url.Content("~/")javascript/source/@ViewBag.pageName' target="_blank">Edit Javascript</a> 
        
    </div> 
    }
 }

<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
@Html.Raw(ViewBag.GetScriptLinkCurrentVersion("easyJsTemplateWriter"))
<div class="alert alert-success zPopup-system">
    <p>Data has been saved.</p>
</div>
</body>
</html>