<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Developed By" content="zetta-solutions.net">
    <link rel="shortcut icon" href="@Url.Content("~/")favicon.png" type="image/x-icon">

    <title>Home - ZSI Payroll</title>
	
	<script src='@Url.Content("~/")Scripts/jquery.min.js'></script>
	<script src='@Url.Content("~/")Scripts/detectmobilebrowser.js'></script>
	<script src='@Url.Content("~/")Scripts/handlebars.min.js'></script>
	<script src="@Url.Content("~/")Scripts/zsiLib.js"></script>
	<link href='@Url.Content("~/")css/app.min.css' rel="stylesheet" />	
</head>
<body>
@RenderBody()
<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
</body>
</html>
