<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/")favicon.png" type="image/x-icon">
    <title> Unauthorized Access </title>
    <script src="@Url.Content("~/")Scripts/jquery-1.12.0.min.js"></script>
    <link href="@Url.Content("~/")Content/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/")Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/")Content/site.css" rel="stylesheet" />  
    <style>
        .page {
            background: #fff;
    
        }
        .notAuthorized {
            color: red;
            font-size: 20pt;
        }

    </style>
</head>
<body>
	<div class="pageHeader">
        <div class="container-fluid">
            <div class="row zBanner">	
                <div class="col-xs-1 pull-left">
                    <a href="@Url.Content("~/")" class="navbar-brand">
                        <img style="float: left; margin-top: -15px;; position: relative; z-index: 100;width: 69px;border: 1px solid #ff9800;border-radius: 40px;" 
                        src="@Url.Content("~/")images/headerAirforce.png" style="float: left; margin-top: -16px; position: relative; z-index: 100;" >
                    </a>
                </div>
				<div class="col-xs-9 col-xs-offset-2 col-sm-10 col-sm-offset-0">
					<img src="@Url.Content("~/")images/new_banners.jpg" style="margin-left: -30px; width: 126%;; padding-top: 11px; height: 68px;"/>                   
					<h1 style="color:#fff; font-size: 28px;margin-top: -64px; padding-left: 5%;"><b style="font-weight:bold">PAF ENTERPRISE SYSTEM</b></h1>
                </div> 
            </div>
        </div>
    </div>
 
<div class="container-fluid page">
    <div class="notAuthorized"> Warning! You are not authorized. This is a browser feature intended for developers only. </div>
    
</div>
<footer class="noprint">
    <p>&copy; @DateTime.Now.Year - Powered By <a href="http://zetta-solutions.net/">ZettaSolutions, Inc. </a></p>
</footer>

<script src="@Url.Content("~/")Scripts/bootstrap.min.js"></script>
</body>
</html>

