<!DOCTYPE html>
<html lang="en">
<head>
     	<meta charset="utf-8">
        <meta name="description" content="Login">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
		<meta name="Developed By" content="zetta-solutions.net">
		<link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">			
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <!-- base css -->
        <link rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">
        <link rel="stylesheet" media="screen, print" href="css/app.bundle.css">
        <link rel="stylesheet" media="screen, print" href="css/fa-brands.css">
    <title>Home - Material Databased</title>
    <script src='@Url.Content("~/")js/vendors.bundle.js'></script>
    <script src='@Url.Content("~/")js/app.bundle.js'></script>
	<script src='@Url.Content("~/")Scripts/jquery.min.js'></script>
	<script src='@Url.Content("~/")Scripts/detectmobilebrowser.js'></script>
	<script src='@Url.Content("~/")Scripts/handlebars.min.js'></script>
	<script src='@Url.Content("~/")Scripts/zsiLib.js'></script>

	<style type="text/css">
		body{
			padding: 0;
			margin: 0;
		}
		.bg-brand-red{
			background-color: #ED1806;
		}
		.bg-brand-dark{
			background-color: #212121;
			color: #ffffff;
		}
		.bg-color-red{
			color: #212121;
		}
		.mdb{
			font-family: 'zsi-trendtool';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		} 
		
		.lear-logo {
			color: #FFFFFF;
			font-size: 1.5rem;
			margin-left: 20px;
			margin-right: 10px;
			position: relative;
			top: 3px;
		}
		.btn-lear {
			color: #fff;
			background-color: #F11716;
			border-color: #F11716;
		}
		.btn:hover {
			color: #bdbbbb;;
			text-decoration: none;
		}
		.help-block{
			color: #cac7c7 !important;
		}
	</style>
</head>
<body>
@RenderBody()
<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
</body>
</html>
