<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HOME -->
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">
    
    <title>ZSI CTS | Sign in</title>
    
    <script src='@Url.Content("~/")Scripts/jquery-1.12.0.min.js'></script>
    <script src='@Url.Content("~/")Scripts/zsiLib.js'></script>
    
    <!-- Bootstrap CSS -->
    <link href='@Url.Content("~/")Content/bootstrap.css' rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='@Url.Content("~/")Content/style.css' rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='@Url.Content("~/")Scripts/popper.min.js'></script>
    <script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
    <script src='@Url.Content("~/")Scripts/velocity.min.js'></script>
    <script src='@Url.Content("~/")Scripts/velocity.ui.min.js'></script>
    <!-- Enting - Dont delete this -->
    <!-- <script src='@Url.Content("~/")Scripts/vmd.min.js'></script> -->
</body>
</html>