<!DOCTYPE html>
<html>
<head>
    <!-- LAYOUT -->
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">

    <title>ZSI STS | @ViewBag.pageTitle</title>
    
    <script src='@Url.Content("~/")Scripts/jquery-1.12.0.min.js'></script>
    @Html.Raw(ViewBag.GetScriptLinkCurrentVersion("zsiLib"))
    @{
        string userId = "";
        if ( zsi.web.SessionHandler.CurrentUser != null){ userId = "var userId=" + zsi.web.SessionHandler.CurrentUser.userId + ";"; }

        string role = (ViewBag.role == null ? "No Role" :  ViewBag.role );
    } 
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
        @userId
    </script>
    <script src='@Url.Content("~/")Scripts/handlebars-v3.0.0.js'></script>

    <!-- Bootstrap CSS -->
    <link href='@Url.Content("~/")Content/bootstrap.css' rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='@Url.Content("~/")Content/zGrid.css' rel="stylesheet" />
    <link href='@Url.Content("~/")Content/zTable.css' rel="stylesheet" />
    <link href='@Url.Content("~/")Content/zPopup.css' rel="stylesheet" />
    <link href='@Url.Content("~/")Content/style.css' rel="stylesheet" />
    <style>
        /* --------------------- MENU ---------------------- */
        
        #menu-nav .menu {
            cursor: pointer;
            border-radius: 0 20px 20px 0;
            padding: 8px;
            color: rgba(0, 0, 0, 0.7);
            -webkit-transition : background-color 0.3s cubic-bezier(.25,.8,.25,1);
            -o-transition : background-color 0.3s cubic-bezier(.25,.8,.25,1);
            transition : background-color 0.3s cubic-bezier(.25,.8,.25,1);
        }

        #menu-nav {
            position: absolute;
            left: 0;
            background-color: #ffffff;
            z-index: 1030;
            width: 50px;
            transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
        }
        
        #menu-nav .menu:hover {
		    background-color: #eceff1;
		}
        
        #menu-nav .menu.active {
            background-color: #cfd8dc;
        }

        #menu-nav .menu-icon {
            width: 25px;
        }

        #menu-nav .menu-name {
            display: none;
        }
        
        #menu-nav.active .menu-name {
            display: inline;
        }
        
        .menu-content {
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="mainDiv" class="container-fluid z-bg z-txt-white">
        <div class="progressWindow">
            <div class="z-center">
                <div class="cube-container">
                    <div class="cube">
                        <div class="side side1"></div>
                        <div class="side side2"></div>
                        <div class="side side3"></div>
                        <div class="side side4"></div>
                        <div class="side side5"></div>
                        <div class="side side6"></div>
                    </div>
                </div>
                <div class="loading-text z-txt-white" style="float: left;padding-left: 15px;">Loading...Please wait</div>
            </div>
        </div>
        <div class="errorWindow alert alert-danger z-center">
            <div style="font-size:13px;">Some processe(s) encountered a problem.<br> Please Contact System Administrator.</div>
        </div>
        <div class="savedWindow alert alert-success m-0 z-center">
            <div>Data has been saved.</div>
        </div>

        <nav class="navbar navbar-expand-md navbar-dark p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-toggler" aria-controls="main-nav-toggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-none d-md-block" href="/cts/">Support Ticketing System</a>
            <a class="navbar-brand d-block d-md-none" href="/cts/">STS</a>
            
            <div class="collapse navbar-collapse" id="main-nav-toggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="navbar-text p-2"> @zsi.web.SessionHandler.CurrentUser.userName.ToUpper()</span>
                    </li>
                    <li class="nav-item dropdown d-block d-md-none">
                        <a id="dd-menu-nav" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-folder menu-icon"></i> Manage</a>
                        <div class="dropdown-menu p-0">
                            <a class="dropdown-item p-2" href="#">Process</a>
                            <a class="dropdown-item p-2" href="#">Status</a>
                            <a class="dropdown-item p-2" href="#">Category</a>
                            <a class="dropdown-item p-2" href="#">Type</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dd-account" data-toggle="dropdown"><i class="fas fa-user"></i></a>
                        <div class="dropdown-menu dropdown-menu-right p-0">
                            <a href='@Url.Content("~/")page/name/changepassword' class="dropdown-item p-2">Change Password</a>
                            <a href='@Url.Content("~/")page/name/signin' class="dropdown-item p-2">Log-out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="menu-nav" class="d-none d-md-block border-top border-right">
            
        </div>

        @Html.Raw(ViewBag.GetScriptLinkCurrentVersion("appStart"))
        <div id="main-content" class="row ml-md-5" style="overflow:auto;">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>

        <footer class="fixed-bottom">
            <p>
                &copy; @DateTime.Now.Year - Powered By <a href="http://zetta-solutions.net/">ZettaSolutions, Inc. </a>
            </p>
            @{
                if (Session["zsi_login"].ToString() == "Y")
                {
                    <div class="debugPanel noprint fixed-bottom">     
                      <a href='@Url.Content("~/")pagetemplate/source/@ViewBag.pageName' target="_blank">Edit Page Template</a> 
                    | <a href='@Url.Content("~/")javascript/source/@ViewBag.pageName' target="_blank">Edit Javascript</a> 
                    | <a href='@Url.Content("~/")page' target="_blank">Pages</a>         
                    | <a href='@Url.Content("~/")pagetemplate' target="_blank">Page Templates</a>
                    | <a href='@Url.Content("~/")javascript' target="_blank">JavaScripts</a>
                    | <a href='@Url.Content("~/")sql' target="_blank">SQL Console</a>
                    </div> 
                }
            }
        </footer>
    </div>
    
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src='@Url.Content("~/")Scripts/popper.min.js'></script>
<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
<script src='@Url.Content("~/")Scripts/velocity.min.js'></script>
<script src='@Url.Content("~/")Scripts/velocity.ui.min.js'></script>
<script src='@Url.Content("~/")Scripts/forms.js'></script>
<script src='@Url.Content("~/")Scripts/handlebars-v3.0.0.js'></script>
<script src='@Url.Content("~/")javascript/name/easyJsTemplateWriter'></script>

<script>
    // Main ui resizing
    var gWHeight = $(window).outerHeight();
    $("#mainDiv").height(gWHeight);
    $("#main-content, #menu-nav").height(gWHeight - ($("nav").outerHeight() + 15));
    $(".pageTitle").remove();

    $(document).ready(function() {
        displayMenus();
        
        function displayMenus() {
            $.get(procURL + "user_menus_sel", function(d) {
                var _menuData = d.rows;
                var _$menuNav = $("#menu-nav");
                var _html = '<div class="row no-gutters pr-3 border-bottom">';
                
                console.log(_menuData);
                
                _menuData.forEach(function(v) {
                    _html +=  '<div class="col-12"><div class="menu text-left" data-pagename="'+v.page_name+'" data-status-id="'+v.status_id+'" data-process-id="'+v.process_id+'">'
                            + '<i class="fas fa-'+v.icon+' menu-icon"></i><span class="menu-name" style="display: none; opacity: 0;">'+v.menu_text+'</span>'
                            + '</div></div>';
                });
                _$menuNav.append(_html += '</div>');
                
                var _$menuName = _$menuNav.find(".menu-name");
                _$menuNav.mouseenter(function() {
                    _$menuNav.velocity("finish").velocity({ width:[250,50] },{ duration : 150 });
                    _$menuName.velocity("finish").velocity({opacity : 1},{ display : "inline", delay : 300 });
                }).mouseleave(function() {
                    _$menuName.velocity("finish").velocity({opacity : 0},{display : "none", duration : 0});
                    _$menuNav.velocity("finish").velocity({ width:[50,250] },{ duration : 100 });
                });
                
                _$menuNav.find(".menu").click(function() {
                    _$menuNav.find(".menu.active").removeClass("active");
                    var _pagename = $(this).addClass("active").attr("data-pagename");
                    if (_pagename !== '') {
                        console.log(_pagename);
                        
                        $.get(base_url + 'page/name/' + _pagename + '', function(d) {
                            $("#pageoutput-panel").html(d);
                        }); 
                    }
                });
            });
        }
    });    
</script>
</body>
</html>