<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">
    <title>@ViewBag.pageTitle </title>
    <script src='@Url.Content("~/")Scripts/jquery.min.js'></script>
    <script src='@Url.Content("~/")Scripts/handlebars.min.js'></script>
    <script src='@Url.Content("~/")Scripts/detectmobilebrowser.js'></script>	    
	<link href='@Url.Content("~/")css/app.min.css' rel="stylesheet" />
    <link href='@Url.Content("~/")css/zsi-trendtool.css' rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/")Scripts/zsiLib.js"></script>  
    @{
        string userId = "";
        if ( zsi.web.SessionHandler.CurrentUser != null){ userId = "var userId=" + zsi.web.SessionHandler.CurrentUser.userId + ";"; }
    } 
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
        @userId
    </script>
	
	<script>
		function toggleMenu(o){
			var ttmenu = document.querySelector(".tt-menu");
			if (ttmenu.getAttribute("class").indexOf("show") === -1){
				ttmenu.classList.add("show");

			}else{
				ttmenu.classList.remove("show");
			}
		}
	</script>
	<style>
		.ml-auto, .mx-auto {
			margin-left: auto !important;
			margin-right: 1.5rem;
		}
	</style>

</head>
<body id="page-top">
    <div class="progressWindow">
        <div class="loadingImg"></div>
        <div class="loadingText">Loading...Please wait</div>
    </div>
    <div class="errorWindow">
        Some processe(s) encountered a problem.
        <br> Please Contact System Administrator.
    </div>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
		<nav class="navbar navbar-expand">
			<ul class="navbar-nav">
				<li class="nav-item dropdown no-arrow">
					<a class="dropdown-toggle" href="javascript:void(0);" onclick="toggleMenu();"   >
						<button class="btn btn-link btn-sm text-white">
							<i class="fas fa-bars"></i>
						</button>
					</a>
					<div class="tt-menu dropdown-menu dropdown-menu-left " >
						<div class="ddmenu-header">
							ELECTRICAL MENU
						</div>
						<div class="menu-content"></div>

						<div class="row menu-filter">
							<form>
								<div class="form-group ddrow">
									<div class="col-5">
										<label class="text-right">Category :</label>
									</div>
									<div class="col-7">
										<div class="selectWrapper">
											<select name="per_model_year" class="form-control input-sm" placeholder="Per Model Year">
												<option></option>
												<option>Per Model Year</option>
												<option>Per Region</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group ddrow">
									<div class="col-5">
										<label class="text-right">Graph Type : </label>
									</div>
									<div class="col-7">
										<div class="selectWrapper">
											<select name="column_graph" class="form-control input-sm" placeholder="Column Graph">
												<option></option>
												<option>Line Graph</option>
												<option>Column Graph</option>
												<option>Pie Chart</option>
											</select>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</nav>
		<a class="navbar-brand mr-1" href='@Url.Content("~/")'>
			<i class="ttool lear-logo" style=""></i>
		</a>
		<div class="d-none d-sm-block appTitle"> E - Systems Trend Tool</div>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				@{ string role = (ViewBag.role == null ? "No Role" :  ViewBag.role ); }
				<li>
					<button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				<div id="menuPanel" class="collapse navbar-collapse"> </div></li>

				<li class="nav-item dropdown">
					<a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-user-circle fa-fw"> </i> <span class="d-none d-sm-inline "></span> @zsi.web.SessionHandler.CurrentUser.userName.ToUpper() (@role)
						<span class="caret"></span>
					</a>
					
					<ul class="dropdown-menu">		
						<li class="nav-item"><a href="@Url.Content("~/")page/name/docs" class="nav-link"><i class="fas fa-book"> </i> User Manual</a></li>
						<li class="nav-item"><a href="@Url.Content("~/")page/name/changepassword" class="nav-link"><i class="fas fa-key"> </i> Change Password</a></li>
						<li class="nav-item"><a href="@Url.Content("~/")page/name/signin" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
    @Html.Raw(ViewBag.GetScriptLinkCurrentVersion("appStart"))   
    <div class="container-fluid page">
        @RenderBody()
    </div>

@{
    if (Session["zsi_login"].ToString() == "Y")
    {

    <div class='debugPanel noprint'>     
          <a href='@Url.Content("~/")pagetemplate/source/@ViewBag.pageName' target="_blank">Edit Page Template</a> 
        | <a href='@Url.Content("~/")javascript/source/@ViewBag.pageName' target="_blank">Edit Javascript</a> 
        | <a href='@Url.Content("~/")page' target="_blank">Pages</a>         
        | <a href='@Url.Content("~/")pagetemplate' target="_blank">Page Templates</a>
        | <a href='@Url.Content("~/")javascript' target="_blank">JavaScripts</a>
		| <a href='@Url.Content("~/")sql' target="_blank">SQL Console</a>
    </div> 
    }
 }

<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
<script src='@Url.Content("~/")javascript/name/easyJsTemplateWriter'></script>
<div class="alert alert-success">
    <p>Data has been saved.</p>
</div>
</body>
</html>