@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">

    <title>SQL Console</title>

    <script src="@Url.Content("~/")Scripts/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/zsiLib.js"></script>
    <script>
        var base_url = '@Url.Content("~/")';
    </script>

    <!-- Bootstrap CSS -->
    <link href='@Url.Content("~/")Content/bootstrap.css' rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href='@Url.Content("~/")Content/style.css' rel="stylesheet" />
    
    <style>
        .modal-dialog {
            width: 95%;
        }

        .alert {
            position: absolute;
            top: 0px;
            display: none;
            z-index: 10000;
        }
        .ace_editor {
            min-height: 400px !important;
        }
        .ace_search.right {
            position: fixed !important;
        }
        .ace_search_field {
            color: #000 !important;
            background-color: #fff !important;
        }
        .dhtmlx_wins_body_inner > div[ida='dhxMainCont'] {
            overflow: auto !important;
        }
    </style>
</head>
<body>
    <div class="progressWindow">
        <div class="z-center">
            <div class="cube-container">
                <div class="cube">
                    <div class="side side1"></div>
                    <div class="side side2"></div>
                    <div class="side side3"></div>
                    <div class="side side4"></div>
                    <div class="side side5"></div>
                    <div class="side side6"></div>
                </div>
            </div>
            <div class="loading-text z-txt-white" style="float: left;padding-left: 15px;">Loading...Please wait</div>
        </div>
    </div>
    <div class="errorWindow alert alert-danger z-center">
        <div style="font-size:13px;">Some processe(s) encountered a problem.<br> Please Contact System Administrator.</div>
    </div>
    <div class="savedWindow alert alert-success m-0 z-center">
        <div>Data has been saved.</div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="pageTitle">SQL Console</div>
                <form id="frm">
                    <div class="form-horizontal">
                        <input type="hidden" id="sql_content" name="sql_content">
                        <div class="form-group">
                            <pre id="editor">@ViewBag.jsContent </pre>
                        </div>
                    </div>

                    <div class="col-xs-12 buttonGroup">
                        <button id="btnRun" class="btn btn-primary btn-sm" type="button"><span class="glyphicon glyphicon-play"></span> Run</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="tblResult" class="zPanel"></div>

        <footer class="fixed-bottom">
            <p>
                &copy; @DateTime.Now.Year - Powered By <a href="http://zetta-solutions.net/">ZettaSolutions, Inc. </a>
            </p>
        </footer>
    </div>

<script src='@Url.Content("~/")ace/src-noconflict/ace.js'></script>
<script src='@Url.Content("~/")ace/src-noconflict/ext-language_tools.js'></script>
<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
<script>
    var tbl = "#tblResult";
    var editor = null;
    var w1 = null;

    $(window).bind('keydown', function (e) {
        var isCtrlR = (e.ctrlKey && e.which == 82);
        if (isCtrlR) {
            runSQL();
            e.preventDefault();
            return false;
        }
    });

    $(document).ready(function () {
        initAceEditor();
    });

    $("#btnRun").click(function () {
        runSQL();
    });

    function runSQL() {
        var text = editor.getSelectedText();
        if (text === "") text = editor.getSession().getValue();
        $.post(base_url + "sql/exec?p=" + escape(text), DisplayRecords)
        .error(function (xhr) {
            $(tbl).html(xhr.responseText);
        })
        .success(function () {
            $(tbl).append("<br /><br />SQL command has been executed.");
        });
    }

    function DisplayRecords(data) {
        var d = data.rows;
        if (d.length == 0) {
            $(tbl).html("No Result.");
            return;
        }
        var hInfo = d[0];
        var keys = Object.keys(hInfo);
        var colsLength = keys.length;

        var h = "<table class='fullWidth'><thead><tr>";
        for (var i = 0; i < colsLength; i++) {
            h += "<th>" + keys[i] + "</th>";
        }
        h += "</tr></thead></table>"
        $(tbl).html(h);

        var trCls = "odd";
        for (var y = 0; y < d.length; y++) {

            h = "<tr class='" + trCls + "'>";
            if (trCls == "odd") trCls = "even"; else trCls = "odd";

            for (var x = 0; x < colsLength; x++) {
                var info = d[y];
                var val = info[keys[x]];
                var new_val = $('<div/>').text(val).html();
                h += "<td>" + new_val + "</td>";
            }
            h += "</tr>";
            $(tbl + " table").append(h);
        }
    }

    function initAceEditor() {
        ace.require("ace/ext/language_tools");
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/sql");
        editor.setAutoScrollEditorIntoView(true);

        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: false,
            maxLines: 40,
            fontSize: "10pt"
        });
    }
</script>
</body>
</html>



