<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Login">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
	<!-- Call App Mode on ios devices -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Remove Tap Highlight on Windows Phone IE -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- base css -->
	<link rel="shortcut icon" href="images/icon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="css/styles-merged.css">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<!-- Place favicon.ico in the root directory 
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<!-- Optional: page related CSS-->
	<link rel="stylesheet" media="screen, print" href="css/fa-brands.css">
	<title>Home - ZSI Year Book</title> 
	
	<script src="Scripts/jquery-1.12.0.min.js"></script>
    <script src="Scripts/zsiLib.js"></script>
</head>
<body>
@RenderBody()

<script src='@Url.Content("~/")Scripts/bootstrap.min.js'></script>
<script src='@Url.Content("~/")js/scripts.min.js'></script>
<script src='@Url.Content("~/")js/main.min.js'></script>
<script src='@Url.Content("~/")js/custom.js'></script>
</body>
</html>
