<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/")favicon.png" type="image/x-icon">

	<title>Sotero B. Cabahug Forum For Learning</title>
	<meta name="description" content="">
    <meta name="keywords" content="">	

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href='@Url.Content("~/")css/styles-merged.css'>
    <link rel="stylesheet" href='@Url.Content("~/")css/style.min.css'>
    <link rel="stylesheet" href='@Url.Content("~/")css/custom.css'>	
	
	
</head>
<body>
@RenderBody()
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src='@Url.Content("~/")Scripts/scripts.min.js'></script>
    <script src='@Url.Content("~/")Scripts/main.min.js'></script>
    <script src='@Url.Content("~/")Scripts/custom.js'></script>
    
</body>
</html>
