<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/")favicon.png" type="image/x-icon">
    
    <title>@ViewBag.pageTitle - Lear Benchmarking</title>
    
    <script src="@Url.Content("~/")Scripts/jquery-1.12.0.min.js"></script>
    <link href="@Url.Content("~/")Content/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/")Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/")Content/site.css" rel="stylesheet" />    
    <link href="@Url.Content("~/")Content/zGrid.css" rel="stylesheet" />
    
       
    @Html.Raw(ViewBag.zsiLibJSLink)    
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
    </script>
</head>
<body>
    <div class="progressWindow">
        <div class="loadingImg"></div>
        <div class="loadingText">Loading...Please wait</div>
    </div>
    <div class="errorWindow">
        Some processe(s) encountered a problem.
        <br> Please Contact System Administrator.
    </div>
    <div class="pageHeader">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-2 pull-left">
                    <a href="@Url.Content("~/")" class="navbar-brand">
                        <img style="float: left; margin-top: -16px; position: relative; z-index: 100;" src="@Url.Content("~/")images/lear-bms-logo.png" style="float: left; margin-top: -16px; position: relative; z-index: 100;" >
                    </a>
                </div>
                <div class="col-xs-7">
                    <img src="@Url.Content("~/")images/new_bannerMap1.jpg" >
                </div> 
                <div class="col-xs-3">
                    <img src="@Url.Content("~/")images/reach4logo1.png" class="pull-right" >
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <div id="menuPanel"> </div>
                <ul class="nav navbar-nav navbar-right">
                    @{ string role = (ViewBag.role == null ? "No Role" :  ViewBag.role ); }
					<li><a href="@Url.Content("~/")page/name/signin"><span class="glyphicon glyphicon-off"></span> Logout </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> @SessionHandler.CurrentUser.username.ToUpper() (@role) </a></li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Raw(ViewBag.appStartLink)
    <div class="container-fluid page">
        @RenderBody()
    </div>

@{
    if (Session["zsi_login"].ToString() == "Y")
    {

    <div class='debugPanel noprint'>     
          <a href="@Url.Content("~/")pagetemplate/source/@ViewBag.pageName" target="_blank">Edit Page Template</a> 
        | <a href="@Url.Content("~/")javascript/source/@ViewBag.pageName" target="_blank">Edit Javascript</a> 
        | <a href="@Url.Content("~/")page" target="_blank">Pages</a>         
        | <a href="@Url.Content("~/")pagetemplate" target="_blank">Page Templates</a>
        | <a href="@Url.Content("~/")javascript" target="_blank">JavaScripts</a>
		| <a href="@Url.Content("~/")sql" target="_blank">SQL Console</a>
    </div> 
    }
 }

     <footer >
         <p>&copy; @DateTime.Now.Year - Powered By <a href="http://zetta-solutions.net/">ZettaSolutions, Inc. </a></p>
       </footer>
<script src="@Url.Content("~/")Scripts/bootstrap.min.js"></script>
<div class="alert alert-success">
    <p>Data has been saved.</p>
</div>
</body>
</html>
