
@{
    Layout = "~/Views/Shared/_Source.cshtml";   
}
<div class="pageTitle">JavaScript Source: @ViewBag.pageTitle </div>
<form id="frm">
    <div class="form-horizontal">
        <input type="hidden" id="js_id" name="js_id" value="@ViewBag.jsId">
        <input type="hidden" id="page_id" name="page_id" value="@ViewBag.pageId">
        <input type="hidden" id="js_content" name="js_content">
        <div class="form-group  ">
            <pre id="editor">@ViewBag.jsContent </pre>
        </div>
    </div>

    <div class="col-xs-12 buttonGroup">
        <button id="btnSubmit" class="btn btn-primary btn-sm" type="button">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
        </button>

    </div>
</form>
<script>
    var js_id = '@ViewBag.jsId';
    var editor = null;
    var w1 = null;

    $(window).bind('keydown', function (e) {
        var isCtrlS = (e.ctrlKey && e.which == 83);
        if (isCtrlS) {
            submit();
            e.preventDefault();
            return false;
        }

    });

    $(document).ready(function () {
        initAceEditor();

    });

    $("#btnSubmit").click(function () {
        submit();
    });


    function initAceEditor() {

        ace.require("ace/ext/language_tools");
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/ambiance");
        editor.session.setMode("ace/mode/javascript");
        editor.setAutoScrollEditorIntoView(true);

        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: false,
            maxLines: 100,
            fontSize: "10pt"
        });

    }


    function submit() {

        $("#js_content").val(editor.getSession().getValue());
        var data = $("#frm").serializeArray();
        $.post(base_url + "javascript/update", data, function (d) {
            $("#js_id").val(d.js_id);
            zsi.form.showAlert("alert");

        });

    }




</script>



