<!DOCTYPE html>
<html lang="en">
<head>
     	<meta charset="utf-8">
        <meta name="description" content="Login">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
		<meta name="Developed By" content="zetta-solutions.net">
		<link rel="shortcut icon" href='@Url.Content("~/")favicon.png' type="image/x-icon">						
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="shortcut icon" href="assets/images/zfleet-logo-cyan-bg.png" type="image/x-icon">
		<meta name="description" content="">
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
		<!-- base css -->
		<link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="assets/socicon/css/styles.css">
		<link rel="stylesheet" href="assets/dropdown/css/style.css">
		<link rel="stylesheet" href="assets/tether/tether.min.css">
		<link rel="stylesheet" href="assets/theme/css/style.css">
		<link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
		<link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
		<link rel="stylesheet" href="@Url.Content("~/")css/public.css" type="text/css">
		<title>Home - ZFLEET</title>
</head>	
<body>
@RenderBody()
<section class="menu cid-s2gnuxMRf8" once="menu" id="menu2-0">    
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                        <img src="assets/images/zfleet-logo.png" alt="ZFleet" title="" style="height: 3.8rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-black display-4" href="#">
                        Home</a>
                </li><li class="nav-item"><a class="nav-link link text-black display-4" href="#our-products">
                        Products</a></li>
					<li class="nav-item"><a class="nav-link link text-black display-4" href="pub/careers">
                        Careers</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="#about-us">
                        About Us
                    </a>
                </li><li class="nav-item"><a class="nav-link link text-black display-4" href="#contact-us">
                        Contact Us
                    </a></li></ul>
            
        </div>
    </nav>
</section>
<section id="#" class="engine"><a href="#">free simple website templates</a></section>
<section class="carousel slide cid-s2xk43HheR" data-interval="false" id="slider1-a">
    <div class="full-screen">
		<div class="mbr-slider slide carousel" data-keyboard="false" data-ride="carousel" data-interval="5000" data-pause="true">
			<ol class="carousel-indicators">
				<li data-app-prevent-settings="" data-target="#slider1-a" class=" active" data-slide-to="0"></li>
				<li data-app-prevent-settings="" data-target="#slider1-a" data-slide-to="1"></li>
				<li data-app-prevent-settings="" data-target="#slider1-a" data-slide-to="2"></li>
				<li data-app-prevent-settings="" data-target="#slider1-a" data-slide-to="3"></li>
				<li data-app-prevent-settings="" data-target="#slider1-a" data-slide-to="4"></li>
				<li data-app-prevent-settings="" data-target="#slider1-a" data-slide-to="5"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(assets/images/seq1-968x645.jpg);">
					<div class="container container-slide">
						<div class="image_wrapper">
							<div class="mbr-overlay"></div>
							<img src="assets/images/seq1-968x645.jpg" alt="" title="">
							<div class="carousel-caption justify-content-center">
								<div class="col-10 align-center">
									
									<img src="assets/images/zfleet-logo-white.png" alt="ZFleet-White-Logo" title="" style="">
									<p class="lead mbr-text mbr-fonts-style display-5">
										Safe, secure and sustainable fare payments for Filipinos.
									</p>
									<div class="mbr-section-btn" buttons="0">
										<a class="btn btn-primary display-4" href="#contact-us">Request a Demo</a> 
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/seq2-1766x1179.jpg);">
					<div class="container container-slide">
						<div class="image_wrapper">
							<div class="mbr-overlay"></div>
							<img src="assets/images/seq2-1766x1179.jpg" alt="" title="">
							<div class="carousel-caption justify-content-center">
								<div class="col-10 align-center">
									
									<img src="assets/images/zfleet-logo-white.png" alt="ZFleet-White-Logo" title="" style="">
									<p class="lead mbr-text mbr-fonts-style display-5">
										Safe, secure and sustainable fare payments for Filipinos.
									</p>
									<div class="mbr-section-btn" buttons="0">
										<a class="btn btn-primary display-4" href="#contact-us">Request a Demo</a> 
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/seq3-1440x960.jpg);">
					<div class="container container-slide">
						<div class="image_wrapper">
							<div class="mbr-overlay"></div>
							<img src="assets/images/seq3-1440x960.jpg" alt="" title="">
							<div class="carousel-caption justify-content-center">
								<div class="col-10 align-center">
									
									<img src="assets/images/zfleet-logo-white.png" alt="ZFleet-White-Logo" title="" style="">
									<p class="lead mbr-text mbr-fonts-style display-5">
										Safe, secure and sustainable fare payments for Filipinos.
									</p>
									<div class="mbr-section-btn" buttons="0">
										<a class="btn btn-primary display-4" href="#contact-us">Request a Demo</a> 
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/seq4-1313x876.jpg);">
					<div class="container container-slide">
						<div class="image_wrapper">
							<div class="mbr-overlay"></div>
							<img src="assets/images/seq4-1313x876.jpg" alt="" title="">
							<div class="carousel-caption justify-content-center">
								<div class="col-10 align-center">
									
									<img src="assets/images/zfleet-logo-white.png" alt="ZFleet-White-Logo" title="" style="">
									<p class="lead mbr-text mbr-fonts-style display-5">
										Safe, secure and sustainable fare payments for Filipinos.
									</p>
									<div class="mbr-section-btn" buttons="0">
										<a class="btn btn-primary display-4" href="#contact-us">Request a Demo</a> 
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/seq5-1363x909.jpg);">
					<div class="container container-slide">
						<div class="image_wrapper">
							<div class="mbr-overlay"></div>
							<img src="assets/images/seq5-1363x909.jpg" alt="" title="">
							<div class="carousel-caption justify-content-center">
								<div class="col-10 align-center">
									
									<img src="assets/images/zfleet-logo-white.png" alt="ZFleet-White-Logo" title="" style="">
									<p class="lead mbr-text mbr-fonts-style display-5">
										Safe, secure and sustainable fare payments for  Filipinos.
									</p>
									<div class="mbr-section-btn" buttons="0">
										<a class="btn btn-primary display-4" href="#contact-us">Request a Demo</a> 
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/seq6-1444x964.jpg);">
					<div class="container container-slide">
						<div class="image_wrapper">
							<div class="mbr-overlay"></div>
							<img src="assets/images/seq6-1444x964.jpg" alt="" title="">
							<div class="carousel-caption justify-content-center">
								<div class="col-10 align-center">
									
									<img src="assets/images/zfleet-logo-white.png" alt="ZFleet-White-Logo" title="" style="">
									<p class="lead mbr-text mbr-fonts-style display-5">
										Safe, secure and sustainable fare payments for Filipinos.
									</p>
									<div class="mbr-section-btn" buttons="0">
										<a class="btn btn-primary display-4" href="#contact-us">Request a Demo</a> 
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-a">
				<span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-a">
				<span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>
<section id="our-products" class="cid-s2gnvxr9aa mbr-fullscreen mbr-parallax-background" id="header2-1">   

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Our Products
                </h1>
                
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
					<div class="row zproducts">
						<div class="col-lg-4">
							<div class="align-center"><img src="assets/images/zpay-icon.png" alt="ZPay" title="" style="height: 3.8rem;">
								<div class="text"><br/> For Commuters <br/>
								Serves as your fare wallet for your daily commute. <br />
								</div>
								<div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="https://play.google.com/store/apps/details?id=com.zetta.myafcs">
									DOWNLOAD APP</a>
								</div>
								<br /><br />
							</div>
						</div>	
						<div class="col-lg-4">
							<div class="align-center"><img src="assets/images/zfare-icon.png" alt="ZFare" title="" style="height: 3.8rem;">
								<div class="text">
									<br/> For Operators <br />
									Your partner to receiving cashless, contactless, and seamless Zpayments <br />
								</div>
								<div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="https://play.google.com/store/apps/details?id=com.zetta.afcs">
									DOWNLOAD APP</a>
								</div>
								<br /><br />
							</div>
						</div>	
						<div class="col-lg-4">
							<div class="align-center"><img src="assets/images/zload-icon.png" alt="ZLoad" title="" style="height: 3.8rem;">
								<div class="text">
									<br/> For Terminals <br />
									The loading station for fare payments <br />
								</div>
								<div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="https://play.google.com/store/apps/details?id=com.zetta.zload">
									DOWNLOAD APP</a>
								</div>
							</div>
						</div>	
					</div>
                    
                </p>
                <!--<div class="mbr-section-btn align-center"><a class="btn btn-md btn-secondary display-4" href="https://mobirise.co">
                        <span class="mbr-iconfont mbri-file"></span>LEARN MORE</a></div>-->
            </div>
        </div>
    </div>
	<div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
<section id="about-us" class="header4 cid-s2gnx1zHqj mbr-parallax-background" id="header4-4">   

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10">
                <h1 class="mbr-section-title align-center mbr-white pb-3 mbr-bold mbr-fonts-style display-1">
                    OUR VALUES
                </h1>
                
                <div class="mbr-text align-center mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">
						<div class="row zabout">
						<div class="col-lg-4">
							<div class="align-center"><img src="assets/images/safety-icon.png" alt="Safety" title="" style="height: 3.8rem;">
								<div class="text">
									<br/> Safety <br/>
									We value our users. The virtual shield from harm. <br />
								</div>
							</div>
						</div>	
						<div class="col-lg-4">
							<div class="align-center"><img src="assets/images/secure-icon.png" alt="Secure" title="" style="height: 3.8rem;">
								<div class="text">
									<br/> Secure <br />								
									Our goal is to monitor and protect user assets. Your transactions will be kept from harms way.
								</div>
							</div>
						</div>	
						<div class="col-lg-4">
							<div class="align-center"><img src="assets/images/sustainable-icon.png" alt="Sustainable" title="" style="height: 3.8rem;">
								<div class="text">
									<br/> Sustainable <br />
									We focus on continuous support through our products for efficient and effective solutions.
									
								</div>	
							</div>
						</div>	
					</div>
                    </p>
                </div>
                <!--<div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-primary display-4" href="https://mobirise.co">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co">LIVE DEMO</a>
                </div>-->
            </div>
            <div class="mbr-figure pt-5">
                <img src="assets/images/slide10.jpg" alt="Slide10" title="" style="width: 60%;">
            </div>
        </div>
    </div>
	<div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
<section id="contact-us" class="mbr-section form1 cid-s2k2pTy2Gp" id="form1-6">     
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    CONTACT US
                </h2>
				<h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    We will do our best to respond to you within 24 business hours.<br />
					
                </h3>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="">
                <!---Formbuilder Form--->
                 <form action="#" id="zfleet_contact" method="POST" class="mbr-form form-with-styler needs-validation"   novalidate data-form-title="CONTACT Form">
                     <input type="hidden" name="id">
                    <div class="dragArea row">
                        <div class="col-md-4  form-group" data-for="name">
                            <label for="name-form1-6" class="form-control-label mbr-fonts-style display-7">Name</label>
                            <input type="text" name="name" data-form-field="Name" required="required" class="form-control display-7" id="name">
                        </div>
                        <div class="col-md-4  form-group" data-for="email">
                            <label for="email-form1-6" class="form-control-label mbr-fonts-style display-7">Email</label>
                            <input type="email" name="email_add" data-form-field="Email" required="required" class="form-control " id="email_add">
                        </div>
                        <div data-for="phone" class="col-md-4  form-group">
                            <label for="phone-form1-6" class="form-control-label mbr-fonts-style display-7">Phone</label>
                            <input type="tel" name="phone_no" data-form-field="Phone" class="form-control display-7" id="phone_no" required="required">
                        </div>
                        <div data-for="message" class="col-md-12 form-group">
                            <label for="message-form1-6" class="form-control-label mbr-fonts-style display-7">Message</label>
                            <textarea name="description" data-form-field="Message" class="form-control display-7" id="description"></textarea>
                        </div>
                        <div class="col-md-12 input-group-btn align-center">
                            <button type="button" id="submit" class="btn btn-primary btn-form display-4">SEND FORM</button>
                        </div>
                    </div>
                </form><!---Formbuilder Form--->
            </div>
        </div>
    </div>
</section>
<section class="cid-s2u9uk5mxn" id="footer2-8">
    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text">
                    <strong>Address</strong>
                    <br>
                    <br>Unit 201, 2nd/Floor Insular Square, 31 J.P. Rizal St., Tabok, Mandaue City, Cebu, Philippines 6014
                    <br>
                    <br>
                    <br><strong>Contacts</strong>
                    <br>
                    <br>Email: support@zfleet.ph
                    <br>Phone: +63 32 326 1135                    
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text">                    
                    <strong>Feedback</strong>
                    <br>
                    <br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map">
					<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d852.1819158196017!2d123.94831852916658!3d10.350525018819374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a999325176bdad%3A0x33e58fd12278dfad!2sZettaSolutions%20Inc.!5e1!3m2!1sen!2sph!4v1573714605313!5m2!1sen!2sph" allowfullscreen="">
					</iframe>
				</div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        &copy; Copyright 2020 ZFleet - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/ZPayPH" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/ZPay-103312898094214/" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/dropdown/js/nav-dropdown.js"></script>
<script src="assets/dropdown/js/navbar-dropdown.js"></script>
<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="assets/parallax/jarallax.min.js"></script>
<script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
<script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
<script src="assets/theme/js/script.js"></script>
<script src="assets/slidervideo/script.js"></script>
<script>
    $("#submit").click(function () {
		$("form").find("input").attr("required",true);	
        var _frms = $("#zfleet_contact");
        var _frm = _frms[0];  
		$("form").addClass('was-validated');
        if( ! _frm.checkValidity() ){ 
            $("form").addClass('was-validated');
        }else{  
            $("form").removeClass('was-validated');  
			$.post("/sql/exec?p="   + "zfleet_contactus_form"
			   + " @('@')name='" +                  $("#name").val() + "'"
			   + ",@('@')email_add='" +             $("#email_add").val() + "'"
			   + ",@('@')phone_no='" +              $("#phone_no").val() + "'"
			   + ",@('@')description='" +           $("#description").val() + "'" 
			   ,function(data){
					$("form").find("input,textarea").val("");  
					 if(data.isSuccess===true) alert("Thank You, your request has been submitted.");       
					 $("form").find("input").removeAttr("required");
			   }
		   );
			 
    	}
    	 
     
    });  

</script>
<script>
	var base_url = '@Url.Content("~/")';
	var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
</script>	
<script>
	$('ul.nav').find('a').click(function(){
		var $href = $(this).attr('href');
		var $anchor = $('#'+$href).offset();
		window.scrollTo($anchor.left,$anchor.top);
		return false;
	});
 </script>	
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat" attribution=setup_tool page_id="107506740786479"> </div>
 <script src='@Url.Content("~/")Scripts/fb-msgr.js'></script>
</body>
</html>
